<div class="flex flex-col max-w-4xl items-center mx-auto h-auto">
  <h1> <%= link_to "New event", new_event_path %> </h1>

  <h1 class="font-bold text-4xl">Évènements à venir</h1>

  <div class="w-full flex">

    <div class="mx-6 w-full flex flex-col ">

      <% @events_by_date.each do |start_at_date, events, index| %>

        <div class="border-gray-400 flex flex-col mb-2 bg-white rounded-lg shadow">

          <!-- day of the week -->
          <div class="px-4 py-5 sm:px-6 border-b w-full">
            <h3 class="text-lg leading-6 font-medium text-gray-900">
              <%= t('date.day_names')[start_at_date.days_to_week_start].capitalize %> <%= l start_at_date, format: :short %>
            </h3>
          </div>

          <!-- event list -->
          <ul class="flex flex-col w-full">

            <% events.each do |event| %>

              <%= link_to event_path(event) do %>

                <li class="flex flex-row w-full items-center p-4">

                  <div class="grow">
                    <div class="flex flex-row items-center">
                      <!-- thumbnails -->
                      <div class="w-10 h-10 mr-4">
                        <div class="block relative">
                          <%= image_tag(event.image, class: "mx-auto object-cover rounded-full h-10 w-10") if event.image %>
                        </div>
                      </div>

                      <!-- title -->
                      <div class="font-medium">
                        <%= event.title %>
                      </div>

                      <!-- start at time -->
                      <% if event.start_at_time %>
                        <div class="text-gray-600 text-xs">
                          <%= event.human_start_at_time %>
                        </div>
                      <% end %>
                    </div>
                  </div>

                  <div class="flex shrink items-center">
                    <!-- button show more -->
                    <button>
                      <svg width="20" fill="currentColor" height="20" class="hover:text-gray-800 text-gray-500" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1363 877l-742 742q-19 19-45 19t-45-19l-166-166q-19-19-19-45t19-45l531-531-531-531q-19-19-19-45t19-45l166-166q19-19 45-19t45 19l742 742q19 19 19 45t-19 45z">
                        </path>
                      </svg>
                    </button>
                  </div>
                </li>

              <% end %>

            <% end %>

          </ul>
        </div>
      <% end %>
    </div>
  </div>
</div>
