<!DOCTYPE html>
<html>
  <head>
    <title>Back</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://cdn.tailwindcss.com"></script>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <!-- logout link -->
  <% if user_signed_in? %>
    <%= link_to "Logout", logout_path, method: "DELETE", data: {"turbo-method": "DELETE"}%>
  <% end %>

  <body class="w-screen h-screen">
    <%= yield %>
  </body>
</html>
