<!DOCTYPE html>
<html>
  <head>
    <title>LetMe.Dance</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://cdn.tailwindcss.com"></script>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <!-- logout link -->
  <% if user_signed_in? %>
    <%= link_to "Logout", logout_path, method: "DELETE", data: {"turbo-method": "DELETE"}%>
  <% end %>

  <body class="w-screen h-screen">

      <!-- HEADER -->
      <header class="max-w-4xl mx-auto pt-5 grid place-items-center md:py-5">
        <!-- LOGO -->
        <a class="h-full" href="/">
          <%= image_tag('logo.png', class: "mx-auto md:m-0 h-40") %>
        </a>
      </header>

    <%= yield %>
  </body>
</html>
