<!DOCTYPE html>
<html>
  <head>
    <title>LetMe.Dance</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://cdn.tailwindcss.com"></script>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <!-- logout link -->
  <% if user_signed_in? %>
    <%= link_to "Logout", logout_path, method: "DELETE", data: {"turbo-method": "DELETE"}%>
  <% end %>

  <body class="w-screen h-screen">

      <!-- HEADER -->
      <header class="max-w-4xl mx-auto pt-5 md:py-10 md:grid md:grid-cols-12 md:gap-4">

        <!-- LOGO -->
        <div class="h-full md:col-start-1 md:col-span-6" href="/">
          <%= image_tag('logo.png', class: "mx-auto md:m-0 h-40") %>
        </div>

        <!-- DESKTOP MENU -->
        <div class="md:col-start-7 md:col-span-6">
          <div class="flex h-full justify-center md:justify-end md:items-center md:content-center">
            <a class="font-medium text-gray-900 mx-2" href="/projects">Soirées</a>
            <a class="font-medium text-gray-900 mx-2" href="/about">À Propos</a>
          </div>
        </div>
      </header>

    <%= yield %>
  </body>
</html>
